@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
<h1 style="color: blue;text-align: center">
        Manage KTBook Store  <a asp-controller="Categories" asp-action="Create" class="btn btn-success button-add" type="button">
            <i class="fa-solid fa-plus icon-plus" style="padding-top: 10px; color:blue"></i>
        </a>
    </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
              <td class="table-action">
                                        <a asp-controller="Categories" asp-action="Details" class="action-icon" asp-route-id="@item.Id"> <i class="mdi mdi-eye"></i></a>
                                        <a asp-controller="Categories" asp-action="Edit" class="action-icon" asp-route-id="@item.Id"> <i class="mdi mdi-square-edit-outline "></i></a>
                                        <a asp-controller="Categories" asp-action="Delete" class="action-icon" asp-route-id="@item.Id"> <i class="mdi mdi-delete"></i></a>
                                    </td>
            </td>
        </tr>
}
    </tbody>
</table>



<div class="">
    <a asp-controller="Customer" asp-action="Index" class="btn btn-success" style="margin-left: 35%;">
        <i class="mdi mdi-arrow-left" style="text-align: center"></i> Back to Home
    </a>
=======
<div class="container-fluid">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
    {
        <table class="table table-hover">
            <thead class="thead-light">
                <tr role="row">
                    <th scope="col" class="text-center" colspan="2">
                        <h1>Manage KTBook Store</h1>
                    </th>
                    <th scope="col">
                        <a asp-controller="Categories" asp-action="Create" class="btn btn-outline-success">
                            Add new
                        </a>
                    </th>
                    <th scope="col">
                        <a asp-controller="Customer" asp-action="Index" class="btn btn-outline-success">
                            Back to Home
                        </a>
                    </th>
                </tr>
                <tr role="row">
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Status
                    </th>
                    <th style="width: 250px;" class="sorting_disabled" rowspan="1" colspan="1" aria-label="Action">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row" class="odd">
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            <span class="badge badge-success">@item.Status</span>
                        </td>
                        <td class="table-action">
                            <a asp-controller="Categories" asp-action="Details" class="action-icon" asp-route-id="@item.Id">
                                <i class="mdi mdi-eye"></i>
                            </a>
                            <a asp-controller="Categories" asp-action="Edit" class="action-icon" asp-route-id="@item.Id">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </a>
                            <a asp-controller="Categories" asp-action="Delete" class="action-icon" asp-route-id="@item.Id">
                                <i class="mdi mdi-delete"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
>>>>>>> 53cbf8e320d4cd54e045ad6fef2e6fabd8686cb9
</div>
