@model KTBook.Models.Product

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container col-md-10 text-center mt-3">
    <div class="row">
        <div class="col">
            <img src="~/img/@Model.Image" width="300" height="300">
            <h4 class="text text-success">@Model.Name</h4>
        </div>
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th colspan="2" class="h3 bg-light text-success">Book Details</th>
                </tr>
               
                <tr>
                    <th>Books Quantity</th>
                    <th>
                        @if (@Model.Quantity == 0)
                        {
                            <p class="font-weight-bold">Out of stock</p>
                        }
                        else
                        {
                            <p>@Model.Quantity</p>
                        }
                    </th>
                </tr>
                <tr>
                   <th>Price of Books: </th>
                   <th>@Model.Price</th>
                </tr>
                <tr>
                    <th>Description:</th>
                    <th>@Model.Description</th>
                </tr>
                <tr>
                    <th><a asp-controller="Customer" asp-action="AddtoCart" asp-route-Id="@Model.Id" class="btn btn-primary btn-block">Add to Cart</a></th>
                    <th><a asp-controller="Customer" asp-action="AddtoCart" asp-route-Id="@Model.Id" class="btn btn-primary btn-block">Order Now</a></th>
                </tr>
            </table>
        </div>
    </div>
</div>




 