@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*@model List<Product>*@
@model IEnumerable<Product>
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Page Title";
}

@if (SignInManager.IsSignedIn(User) && User.Identity.IsAuthenticated && User.IsInRole("Customer"))
{
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://th.bing.com/th/id/R.60d424bc52eaa8d699178162756642f4?rik=XKEixQBBeArZJQ&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://aulachue.edu.vn/wp-content/uploads/2020/09/2.9.2020.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

<div class="container-fluid" style="padding-bottom: 5%; background-color: ivory">
    @if (SignInManager.IsSignedIn(User) && User.Identity.IsAuthenticated && User.IsInRole("Customer"))
    {
        <div class="container-fluid mt-5">
            <div class="d-flex justify-content-end">
                <form asp-controller="Customer" asp-action="Index" method="get">
                    <div class="input-group mb-3">
                        <input class="form-control me-2" type="search" name="SearchString" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    }
    <div class="row row-cols-5 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card border-dark h-100">
                    <div class="card-body">
                        <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.Id">
                            <img class="card-img-top img-fluid img-thumbnail" style="height:300px" src="~/img/@item.Image">
                        </a>
                        <h4 class="text text-primary mt-3">@item.Name</h4>
                        <h5 class="text text-success">Price: @item.Price $</h5>
                        @if (item.Quantity == 0)
                        {
                            <div class="card-subtitle">
                                <p class="text text-danger h2">Out of stock</p>
                            </div>
                        }
                        else
                        {
                            <div class="card-subtitle">
                                <h5 class="text text-danger">In-stock: @item.Quantity</h5>
                            </div>
                        }
                    </div>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Customer") && item.Quantity > 0)
                    {
                        <div class="card-footer">
                            <form asp-controller="Customer" asp-action="AddtoCart" asp-route-Id="@item.Id">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input class="form-control" type="number" name="quantity" required min="1" max="@item.Quantity">
                                <div class="form-group mt-3">
                                    <input type="submit" class="btn btn-success" value="Add to Cart" onclick="return confirm('Are you sure to order this Books ?');" />
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
