@model ApplicationUser

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "Page Title";
}
<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <h4>@ViewBag.Fullname</h4>
                </div>
                <div class="card-body">
                    <img src="@ViewBag.Img" class="card-img" alt="profile-image">
                    <hr/>
                    <p class="text-muted mb-1 font-13"><strong>Email :</strong> <span class="ml-2 ">@ViewBag.Email</span></p>
                    <p class="text-muted mb-1 font-13"><strong>Username :</strong> <span class="ml-2 ">@ViewBag.UserName</span></p>
                    <p class="text-muted mb-1 font-13"><strong>Date of Birth :</strong> <span class="ml-2">@ViewBag.DoB</span></p>
                    <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ml-2">@ViewBag.Address</span></p>
                </div>
            </div>
        </div>
    </div>
</div>



